body {
  font-family: "DM Sans", sans-serif;
  color: #000;
  background-color: #f5f5f5;
  padding-top: 64px;
  padding-bottom: 90px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* COMMON CONTAINER */

.container {
  width: 1248px;
  margin: 0 auto;
}

/* HEADER */

.name-page {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.15714;
  color: #6d5a5a;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out;
}

.name-page span {
  color: #000;
}

.name-page:hover {
  transform: scale(1.05);
  color: #8d030a;
}

.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header-soc-link {
  margin-left: auto;
}

.header-soc-list {
  display: flex;
  gap: 35px;
}

.header-svg-icon {
  fill: #6d5a5a;
  transition: transform 300ms ease-in-out, fill 300ms ease-in-out;
}

.header-svg-icon:hover {
  transform: rotate(360deg);
  fill: #8d030a;
}

/* MAIN */

/* SECTION ONE */

.section-one {
  max-width: 1248px;
  height: 646px;
  border-radius: 16px;
  background-image: url(/images/sec-one-back-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6d5a5a;
  padding: 400px 0 100px 70px;
  margin-bottom: 64px;
}

.section-one-header {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.30303;
  color: #fff;
  width: 400px;
}

/* SECTION-TWO */

.section-two-header {
  font-weight: 500;
  font-size: 33px;
  line-height: 1.30303;
  color: #6d5a5a;
}
